html{
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png");
}
#top_banner{
    text-align: center;
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png");
    background-repeat: repeat-x;
    height: 50px;
}
h1{
    font-weight: bold;
    font-size: 24pt;
    font-family: Thaoma,Verdana,sans-serif;
    text-shadow: 3px 3px #999999;
    text-align: center;
}
body{
    font-size: 8pt;
    font-family: Verdana,Thaoma,sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    border: 4px solid grey;
    border-radius: 20px;
    width: 800px;
    margin: auto;
    overflow: hidden;
}
#rottenbig{
    background-image: url("http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png");
    background-repeat: repeat-x;
    height: 83px;
}
#perc{
    vertical-align: top;
    color: red;
    font-size: 48pt;
    font-weight: bold;
}
.text{
    border: 2px solid grey;
	border-radius: 10px;
	font-size: 8pt;
	padding: 8px;
	font-weight: bold;
    background-color: #E8DC9B;
    overflow: hidden;
}
#validate{
    opacity: 0.5;
    position: fixed;
    right: 0%;
    bottom: 0%;
}
#details_bullet{
    padding: 0pt 10pt 10pt 10pt;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}
dt{
    margin-top: 10pt;
    font-weight: bold;
}
#footbar{
    background-color: #A2B964;
    text-align: center;
    padding: 5px;
    clear: both;
    margin-bottom: 0;
}
#details_container{
    width: 250px;  
    background-color: #A2B964;
}
#cont1{
    float: left;
    margin: 0% 1% 2% 2%;
}
#rotten{
	width: 550px;
}
#details_container,#cont2{
	float: right;
}
#cont2{
	margin: 0% 2% 2% 1%;
}
#cont1,#cont2{
	width: 47%;
}
#cont1,.img1,.img2{
	float: left;
}
.reviewer{
	margin-bottom: 20pt;
}
.italic{
	font-style: italic;
}
.img1,.img2{
    overflow: hidden;
    padding-right: 5px;
}